<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />	
		<target xsi:type="File" name="lifetimefile" fileName="./delivery.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
		<logger name="DeliveryService.Backend.Controllers.OrdersController" minlevel="Info" writeTo="lifetimeConsole, lifetimefile" final="true" />
		<logger name="*" minlevel="Error" writeTo="lifetimeConsole" />
		
	</rules>
</nlog>